In [1]:
import pandas as pd
import numpy as np

In [2]:
## Traemos el dataset para transformar la informcion en Python
data_movies = pd.read_excel('D:/1 - Henry DS/PI01/movies_dataset.xlsx')

C:\Users\jorge\AppData\Local\Temp\ipykernel_4588\1844341823.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  data_movies = pd.read_excel('D:/1 - Henry DS/PI01/movies_dataset.xlsx')

In [3]:
## Revisamos las 5 primeras filas y validamos la cantidad de columnas que han subido
data_movies.head()

,adult,belongs_to_collection,id_collection,name_collection,poster_path_collection,backdrop_path_collection,budget,genres,id_genero,name_genero,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",10194.0,Toy Story Collection',/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'},30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",16,Animation',...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,0.0,7.7,5415.0
1,False,NaN,NaN,NaN,NaN,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",12,Adventure',...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,0.0,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",119050.0,Grumpy Old Men Collection',/nLvUdqgPgm3F85NMCii9gVFUcet.jpg',/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'},0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",10749,Romance',...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,0.0,6.5,92.0
3,False,NaN,NaN,NaN,NaN,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",35,Comedy',...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,0.0,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",96871.0,Father of the Bride Collection',/nts4iOmNnq7GNicycMJ9pSAn204.jpg',/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'},0,"[{'id': 35, 'name': 'Comedy'}]",35,Comedy'],...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,0.0,5.7,173.0

In [4]:

### Función para extraer los datos anidados en columnas separadas, LA CUAL NO LOGRE OBTENER EL RESULTADO ESPERADO
# def extraer_datos_anidados(row):
#    if isinstance(row, dict):
#        return row.get('id'), row.get('name'), row.get('poster_path'), row.get('backdrop_path')
#    else:
#        return 'id', 'name', 'poster_path', 'backdrop_path'
#
### Aplicar la función a la columna "belongs_to_collection" y obtener las columnas separadas
# data_movies[['id', 'name', 'poster_path', 'backdrop_path']] = data_movies['belongs_to_collection'].apply(extraer_datos_anidados).apply(pd.Series)
#
### Imprimir el DataFrame actualizado
# print(data_movies)

In [5]:
## Nombre de cada columna en el dataset
print(data_movies.columns)

Index(['adult', 'belongs_to_collection', 'id_collection', 'name_collection',
       'poster_path_collection', 'backdrop_path_collection', 'budget',
       'genres', 'id_genero', 'name_genero', 'id_genero_1', 'name_genero_1',
       'id_genero_2', 'name_genero_2', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [6]:
## Miramos la informacion de la columna revenue
print(data_movies['revenue'])

0        373554033.0
1        262797249.0
2                0.0
3         81452156.0
4         76578911.0
            ...
45461            0.0
45462            0.0
45463            0.0
45464            0.0
45465            0.0
Name: revenue, Length: 45466, dtype: float64

In [7]:
## Validar cuantos nulos tenemos en la columna revenue
cuantos_nulos = data_movies['revenue'].isnull().sum()
print("Cantidad de valores nulos en la columna 'revenue':", cuantos_nulos)

Cantidad de valores nulos en la columna 'revenue': 6

In [8]:
## Saber cuales son los valores nulos que tenemos
cuales_son_los_nulos = data_movies[data_movies['revenue'].isnull()]
print(cuales_son_los_nulos)

                                                   adult  \
19729                                              False
19730                                 - Written by Ørnås
29502                                              False
29503  Rune Balot goes to a casino connected to the O...
35586                                              False
35587  Avalanche Sharks tells the story of a bikini c...

                                   belongs_to_collection  id_collection  \
19729                                                NaN            NaN
19730                                           0.065736            0.0
29502  {'id': 122661, 'name': 'Mardock Scramble Colle...       122661.0
29503                                           1.931659            1.0
35586                                                NaN            NaN
35587                                           2.185485            2.0

                    name_collection             poster_path_collection  \
19729                           NaN                                NaN
19730                         65736                                NaN
29502  Mardock Scramble Collection'  /b5iNxidFGFT1DLLdEY3OsLlUxG2.jpg'
29503                        931659                                NaN
35586                           NaN                                NaN
35587                        185485                                NaN

                 backdrop_path_collection                            budget  \
19729                                 NaN                                 0
19730                                 NaN  /ff9qCepilowshEtG2GYWwzt2bs4.jpg
29502  /5d38jcR72TQrjAZJ4X3nxyVMIck.jpg'}                                 0
29503                                 NaN  /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35586                                 NaN                                 0
35587                                 NaN  /zaSf5OG7V8X8gqFvly88zDdRm46.jpg

                                                  genres  \
19729  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
19730  [{'name': 'Carousel Productions', 'id': 11176}...
29502  [{'id': 16, 'name': 'Animation'}, {'id': 878, ...
29503  [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
35586  [{'id': 10770, 'name': 'TV Movie'}, {'id': 28,...
35587  [{'name': 'Odyssey Media', 'id': 17161}, {'nam...

                              id_genero   name_genero  ...  \
19729                                28       Action'  ...
19730  [{'name': 'Carousel Productions'   'id': 11176  ...
29502                                16    Animation'  ...
29503               [{'name': 'Aniplex'    'id': 2883  ...
35586                             10770     TV Movie'  ...
35587         [{'name': 'Odyssey Media'   'id': 17161  ...

                       release_date revenue runtime spoken_languages status  \
19729                           NaT     NaN     NaN              NaN    NaN
19730 1970-01-01 00:00:00.000000001     NaN     NaN              NaN    NaN
29502                           NaT     NaN     NaN              NaN    NaN
29503 1970-01-01 00:00:00.000000012     NaN     NaN              NaN    NaN
35586                           NaT     NaN     NaN              NaN    NaN
35587 1970-01-01 00:00:00.000000022     NaN     NaN              NaN    NaN

      tagline title video vote_average vote_count
19729     NaN   NaN   NaN          NaN        NaN
19730     NaN   NaN   NaN          NaN        NaN
29502     NaN   NaN   NaN          NaN        NaN
29503     NaN   NaN   NaN          NaN        NaN
35586     NaN   NaN   NaN          NaN        NaN
35587     NaN   NaN   NaN          NaN        NaN

[6 rows x 34 columns]

In [9]:
## llenamos los campos con cero
data_movies['revenue'].fillna(0, inplace=True)

In [10]:
## PAra saber cuantos campos tnemos con cero
cuantos_llenados_con_cero = len(data_movies[data_movies['revenue'] == 0])
print("Cantidad de valores llenados con cero:", cuantos_llenados_con_cero)

Cantidad de valores llenados con cero: 38058

In [11]:
## Miramos la informacion de la columna budget
print(data_movies['budget'])

0        30000000
1        65000000
2               0
3        16000000
4               0
           ...
45461           0
45462           0
45463           0
45464           0
45465           0
Name: budget, Length: 45466, dtype: object

In [12]:
## Validar cuantos nulos tenemos en la columna budget
cuantos_nulos_budget = data_movies['revenue'].isnull().sum()
print("Cantidad de valores nulos en la columna 'budget':", cuantos_nulos_budget)
# Cero nulos, OK

Cantidad de valores nulos en la columna 'budget': 0

In [13]:
## Miramos la informacion de la columna budget
print(data_movies['release_date'])

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45466, dtype: datetime64[ns]

In [14]:
## Validar cuantos nulos tenemos en la columna release_date
cuantos_nulos_release_date = data_movies['release_date'].isnull().sum()
print("Cantidad de valores nulos en la columna 'release_date':", cuantos_nulos_release_date)

Cantidad de valores nulos en la columna 'release_date': 87

In [15]:
## Saber cuales son los valores nulos que tenemos
cuales_son_los_nulos_release_date = data_movies[data_movies['release_date'].isnull()]
print(cuales_son_los_nulos_release_date)

       adult belongs_to_collection  id_collection name_collection  \
711    False                   NaN            NaN             NaN
734    False                   NaN            NaN             NaN
3460   False                   NaN            NaN             NaN
3628   False                   NaN            NaN             NaN
5879   False                   NaN            NaN             NaN
...      ...                   ...            ...             ...
45148  False                   NaN            NaN             NaN
45203  False                   NaN            NaN             NaN
45338  False                   NaN            NaN             NaN
45410  False                   NaN            NaN             NaN
45461  False                   NaN            NaN             NaN

      poster_path_collection backdrop_path_collection budget  \
711                      NaN                      NaN      0
734                      NaN                      NaN      0
3460                     NaN                      NaN      0
3628                     NaN                      NaN      0
5879                     NaN                      NaN      0
...                      ...                      ...    ...
45148                    NaN                      NaN      0
45203                    NaN                      NaN      0
45338                    NaN                      NaN      0
45410                    NaN                      NaN      0
45461                    NaN                      NaN      0

                                                  genres id_genero  \
711                                                   []        []
734                                                   []        []
3460                       [{'id': 18, 'name': 'Drama'}]        18
3628                                                  []        []
5879   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...        18
...                                                  ...       ...
45148                                                 []        []
45203  [{'id': 9648, 'name': 'Mystery'}, {'id': 878, ...      9648
45338                                                 []        []
45410  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...        18
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...        18

      name_genero  ... release_date revenue runtime  \
711           NaN  ...          NaT     0.0    95.0
734           NaN  ...          NaT     0.0    88.0
3460      Drama']  ...          NaT    10.0    90.0
3628          NaN  ...          NaT     0.0   105.0
5879       Drama'  ...          NaT     0.0    87.0
...           ...  ...          ...     ...     ...
45148         NaN  ...          NaT     0.0    76.0
45203    Mystery'  ...          NaT     0.0    74.0
45338         NaN  ...          NaT     0.0     0.0
45410      Drama'  ...          NaT     0.0     NaN
45461      Drama'  ...          NaT     0.0    90.0

                               spoken_languages    status  \
711                                          []  Released
734                                          []  Released
3460                                         []       NaN
3628                                         []  Released
5879                                         []  Released
...                                         ...       ...
45148                                        []  Released
45203  [{'iso_639_1': 'en', 'name': 'English'}]  Released
45338                                        []  Released
45410                                        []  Released
45461    [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released

                                                 tagline  \
711                                                  NaN
734                                                  NaN
3460   three worlds / two million voices / one genera...
3628                                                 NaN
5879                             His Judgement Cometh...
...                                                  ...
45148                                                NaN
45203                                                NaN
45338                                                NaN
45410                                                NaN
45461         Rising and falling between a man and woman

                                                title video vote_average  \
711              War Stories Our Mother Never Told Us   0.0          0.0
734                             Vermont Is for Lovers   0.0          0.0
3460                       Jails, Hospitals & Hip-Hop   0.0          0.0
3628                                   Boricua's Bond   0.0          2.0
5879                              Divine Intervention   0.0          0.0
...                                               ...   ...          ...
45148                                 Engineering Red   0.0          6.0
45203  All Superheroes Must Die 2: The Last Superhero   0.0          4.0
45338                  The Land Where the Blues Began   0.0          0.0
45410                                           Aprel   0.0          6.0
45461                                          Subdue   0.0          4.0

      vote_count
711          0.0
734          0.0
3460         0.0
3628         1.0
5879         0.0
...          ...
45148        2.0
45203        1.0
45338        0.0
45410        1.0
45461        1.0

[87 rows x 34 columns]

In [16]:
## Para validar, miramos la informacion de la columna adult, la cual tiene todos los datos llenos con valor 'FALSE'
print(data_movies['adult'])

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: adult, Length: 45466, dtype: object

In [17]:
## Ahora si eliminamos las filas de release_date
data_movies.dropna(subset = ['release_date'], inplace = True)

In [18]:
## Validamos de nuevo cuantos nulos tenemos en la columna release_date
cuantos_nulos_release_date = data_movies['release_date'].isnull().sum()
print("Cantidad de valores nulos en la columna 'release_date':", cuantos_nulos_release_date)

Cantidad de valores nulos en la columna 'release_date': 0

In [19]:
## Y validamos cuantas filas han quedado, mirando la columna 'adult'
print(data_movies['adult'])
# Del total anterior 45.466, eliminamos 87 y nos han quedado 45.379

0        False
1        False
2        False
3        False
4        False
         ...
45460    False
45462    False
45463    False
45464    False
45465    False
Name: adult, Length: 45379, dtype: object

In [20]:
## Crearemos la columna release_year, para extraer el año de la fecha de estreno.
data_movies

,adult,belongs_to_collection,id_collection,name_collection,poster_path_collection,backdrop_path_collection,budget,genres,id_genero,name_genero,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",10194.0,Toy Story Collection',/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'},30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",16,Animation',...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,0.0,7.7,5415.0
1,False,NaN,NaN,NaN,NaN,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",12,Adventure',...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,0.0,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",119050.0,Grumpy Old Men Collection',/nLvUdqgPgm3F85NMCii9gVFUcet.jpg',/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'},0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",10749,Romance',...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,0.0,6.5,92.0
3,False,NaN,NaN,NaN,NaN,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",35,Comedy',...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,0.0,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",96871.0,Father of the Bride Collection',/nts4iOmNnq7GNicycMJ9pSAn204.jpg',/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'},0,"[{'id': 35, 'name': 'Comedy'}]",35,Comedy'],...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,0.0,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,NaN,NaN,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",18,Drama',...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,0.0,5.7,26.0
45462,False,NaN,NaN,NaN,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}]",18,Drama'],...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,0.0,9.0,3.0
45463,False,NaN,NaN,NaN,NaN,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",28,Action',...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,0.0,3.8,6.0
45464,False,NaN,NaN,NaN,NaN,NaN,0,[],[],NaN,...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,0.0
45465,False,NaN,NaN,NaN,NaN,NaN,0,[],[],NaN,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,0.0

In [21]:
## Crear una nueva columna llamada release_year y extraer de alli el año

# Convertir la columna "release_date" en formato de fecha
data_movies['release_date'] = pd.to_datetime(data_movies['release_date'])

# Extraer el año y crear la nueva columna "release_year"
data_movies['release_year'] = data_movies['release_date'].dt.year

In [22]:
data_movies.head()

,adult,belongs_to_collection,id_collection,name_collection,poster_path_collection,backdrop_path_collection,budget,genres,id_genero,name_genero,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",10194.0,Toy Story Collection',/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'},30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",16,Animation',...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,0.0,7.7,5415.0,1995
1,False,NaN,NaN,NaN,NaN,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",12,Adventure',...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,0.0,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",119050.0,Grumpy Old Men Collection',/nLvUdqgPgm3F85NMCii9gVFUcet.jpg',/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'},0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",10749,Romance',...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,0.0,6.5,92.0,1995
3,False,NaN,NaN,NaN,NaN,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",35,Comedy',...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,0.0,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",96871.0,Father of the Bride Collection',/nts4iOmNnq7GNicycMJ9pSAn204.jpg',/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'},0,"[{'id': 35, 'name': 'Comedy'}]",35,Comedy'],...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,0.0,5.7,173.0,1995

In [23]:
data_movies # Ok, Ya tenemos 35 Columnas

,adult,belongs_to_collection,id_collection,name_collection,poster_path_collection,backdrop_path_collection,budget,genres,id_genero,name_genero,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",10194.0,Toy Story Collection',/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'},30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",16,Animation',...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,0.0,7.7,5415.0,1995
1,False,NaN,NaN,NaN,NaN,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",12,Adventure',...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,0.0,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",119050.0,Grumpy Old Men Collection',/nLvUdqgPgm3F85NMCii9gVFUcet.jpg',/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'},0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",10749,Romance',...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,0.0,6.5,92.0,1995
3,False,NaN,NaN,NaN,NaN,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",35,Comedy',...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,0.0,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",96871.0,Father of the Bride Collection',/nts4iOmNnq7GNicycMJ9pSAn204.jpg',/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'},0,"[{'id': 35, 'name': 'Comedy'}]",35,Comedy'],...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,0.0,5.7,173.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,NaN,NaN,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",18,Drama',...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,0.0,5.7,26.0,1991
45462,False,NaN,NaN,NaN,NaN,NaN,0,"[{'id': 18, 'name': 'Drama'}]",18,Drama'],...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,0.0,9.0,3.0,2011
45463,False,NaN,NaN,NaN,NaN,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",28,Action',...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,0.0,3.8,6.0,2003
45464,False,NaN,NaN,NaN,NaN,NaN,0,[],[],NaN,...,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,0.0,1917
45465,False,NaN,NaN,NaN,NaN,NaN,0,[],[],NaN,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,0.0,2017

In [24]:
## Vamos a crear la columna return dividiendo los campo revenue / Budget, dejando en ceros los valores que no tienen dato
# Función para realizar división con manejo de división por cero
def calculate_return(row):
    revenue = pd.to_numeric(row['revenue'], errors='coerce')
    budget = pd.to_numeric(row['budget'], errors='coerce')
    
    if budget != 0:
        return revenue / budget
    else:
        return 0

# Rellenamos los valores que no tienen dato con cero
data_movies_filled = data_movies.fillna(0)

# Calculamos return, dividiendo revenue / budget
data_movies_filled['return'] = data_movies_filled.apply(calculate_return, axis=1)

# Imprimimos el DataFrame
print(data_movies_filled)

       adult                              belongs_to_collection  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...
1      False                                                  0
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...
3      False                                                  0
4      False  {'id': 96871, 'name': 'Father of the Bride Col...
...      ...                                                ...
45460  False                                                  0
45462  False                                                  0
45463  False                                                  0
45464  False                                                  0
45465  False                                                  0

       id_collection                  name_collection  \
0            10194.0            Toy Story Collection'
1                0.0                                0
2           119050.0       Grumpy Old Men Collection'
3                0.0                                0
4            96871.0  Father of the Bride Collection'
...              ...                              ...
45460            0.0                                0
45462            0.0                                0
45463            0.0                                0
45464            0.0                                0
45465            0.0                                0

                  poster_path_collection            backdrop_path_collection  \
0      /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg'  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
1                                      0                                   0
2      /nLvUdqgPgm3F85NMCii9gVFUcet.jpg'  /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}
3                                      0                                   0
4      /nts4iOmNnq7GNicycMJ9pSAn204.jpg'  /7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}
...                                  ...                                 ...
45460                                  0                                   0
45462                                  0                                   0
45463                                  0                                   0
45464                                  0                                   0
45465                                  0                                   0

         budget                                             genres id_genero  \
0      30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...        16
1      65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...        12
2             0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...     10749
3      16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...        35
4             0                     [{'id': 35, 'name': 'Comedy'}]        35
...         ...                                                ...       ...
45460         0  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...        18
45462         0                      [{'id': 18, 'name': 'Drama'}]        18
45463         0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...        28
45464         0                                                 []        []
45465         0                                                 []        []

      name_genero  ... runtime  \
0      Animation'  ...    81.0
1      Adventure'  ...   104.0
2        Romance'  ...   101.0
3         Comedy'  ...   127.0
4        Comedy']  ...   106.0
...           ...  ...     ...
45460      Drama'  ...   104.0
45462     Drama']  ...   360.0
45463     Action'  ...    90.0
45464           0  ...    87.0
45465           0  ...    75.0

                                        spoken_languages    status  \
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
4               [{'iso_639_1': 'en', 'name': 'English'}]  Released
...                                                  ...       ...
45460           [{'iso_639_1': 'en', 'name': 'English'}]  Released
45462                  [{'iso_639_1': 'tl', 'name': ''}]  Released
45463           [{'iso_639_1': 'en', 'name': 'English'}]  Released
45464                                                 []  Released
45465           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                 tagline  \
0                                                      0
1              Roll the dice and unleash the excitement!
2      Still Yelling. Still Fighting. Still Ready for...
3      Friends are the people who let you be yourself...
4      Just When His World Is Back To Normal... He's ...
...                                                  ...
45460                                                  0
45462                                                  0
45463                             A deadly game of wits.
45464                                                  0
45465                                                  0

                             title video vote_average vote_count release_year  \
0                        Toy Story   0.0          7.7     5415.0         1995
1                          Jumanji   0.0          6.9     2413.0         1995
2                 Grumpier Old Men   0.0          6.5       92.0         1995
3                Waiting to Exhale   0.0          6.1       34.0         1995
4      Father of the Bride Part II   0.0          5.7      173.0         1995
...                            ...   ...          ...        ...          ...
45460                   Robin Hood   0.0          5.7       26.0         1991
45462          Century of Birthing   0.0          9.0        3.0         2011
45463                     Betrayal   0.0          3.8        6.0         2003
45464             Satan Triumphant   0.0          0.0        0.0         1917
45465                     Queerama   0.0          0.0        0.0         2017

          return
0      12.451801
1       4.043035
2       0.000000
3       5.090760
4       0.000000
...          ...
45460   0.000000
45462   0.000000
45463   0.000000
45464   0.000000
45465   0.000000

[45379 rows x 36 columns]

In [25]:
## Miramos cuantas columnas tiene data_movies
print(data_movies.columns)

Index(['adult', 'belongs_to_collection', 'id_collection', 'name_collection',
       'poster_path_collection', 'backdrop_path_collection', 'budget',
       'genres', 'id_genero', 'name_genero', 'id_genero_1', 'name_genero_1',
       'id_genero_2', 'name_genero_2', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'release_year'],
      dtype='object')

In [26]:
## Miramos cuantas columnas tiene data_movies_filled
print(data_movies_filled.columns)

Index(['adult', 'belongs_to_collection', 'id_collection', 'name_collection',
       'poster_path_collection', 'backdrop_path_collection', 'budget',
       'genres', 'id_genero', 'name_genero', 'id_genero_1', 'name_genero_1',
       'id_genero_2', 'name_genero_2', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'release_year', 'return'],
      dtype='object')

In [27]:
## Cuantas columnas tenemos
data_movies_filled.shape[1]

36

In [28]:
## Miramos los valores que estan con cifras calculadas en return
print(data_movies_filled[data_movies_filled['return'] > 0]['return'])

0        12.451801
1         4.043035
3         5.090760
5         3.123947
8         1.838576
           ...
45250     1.583333
45399     0.000004
45409     1.660765
45412     0.634397
45422     0.282600
Name: return, Length: 5381, dtype: float64

In [29]:
## Eliminamos las columnas que no serán utilizadas, 'video','imdb_id','adult','original_title','poster_path' y 'homepage'.
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
data_movies_filled.drop(columns=columns_to_drop, inplace=True)
print(data_movies_filled)

                                   belongs_to_collection  id_collection  \
0      {'id': 10194, 'name': 'Toy Story Collection', ...        10194.0
1                                                      0            0.0
2      {'id': 119050, 'name': 'Grumpy Old Men Collect...       119050.0
3                                                      0            0.0
4      {'id': 96871, 'name': 'Father of the Bride Col...        96871.0
...                                                  ...            ...
45460                                                  0            0.0
45462                                                  0            0.0
45463                                                  0            0.0
45464                                                  0            0.0
45465                                                  0            0.0

                       name_collection             poster_path_collection  \
0                Toy Story Collection'  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg'
1                                    0                                  0
2           Grumpy Old Men Collection'  /nLvUdqgPgm3F85NMCii9gVFUcet.jpg'
3                                    0                                  0
4      Father of the Bride Collection'  /nts4iOmNnq7GNicycMJ9pSAn204.jpg'
...                                ...                                ...
45460                                0                                  0
45462                                0                                  0
45463                                0                                  0
45464                                0                                  0
45465                                0                                  0

                 backdrop_path_collection    budget  \
0      /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}  30000000
1                                       0  65000000
2      /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}         0
3                                       0  16000000
4      /7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}         0
...                                   ...       ...
45460                                   0         0
45462                                   0         0
45463                                   0         0
45464                                   0         0
45465                                   0         0

                                                  genres id_genero  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...        16
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...        12
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...     10749
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...        35
4                         [{'id': 35, 'name': 'Comedy'}]        35
...                                                  ...       ...
45460  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...        18
45462                      [{'id': 18, 'name': 'Drama'}]        18
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...        28
45464                                                 []        []
45465                                                 []        []

      name_genero id_genero_1  ...      revenue runtime  \
0      Animation'          35  ...  373554033.0    81.0
1      Adventure'          14  ...  262797249.0   104.0
2        Romance'          35  ...          0.0   101.0
3         Comedy'          18  ...   81452156.0   127.0
4        Comedy']           0  ...   76578911.0   106.0
...           ...         ...  ...          ...     ...
45460      Drama'          28  ...          0.0   104.0
45462     Drama']           0  ...          0.0   360.0
45463     Action'          18  ...          0.0    90.0
45464           0           0  ...          0.0    87.0
45465           0           0  ...          0.0    75.0

                                        spoken_languages    status  \
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
4               [{'iso_639_1': 'en', 'name': 'English'}]  Released
...                                                  ...       ...
45460           [{'iso_639_1': 'en', 'name': 'English'}]  Released
45462                  [{'iso_639_1': 'tl', 'name': ''}]  Released
45463           [{'iso_639_1': 'en', 'name': 'English'}]  Released
45464                                                 []  Released
45465           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                 tagline  \
0                                                      0
1              Roll the dice and unleash the excitement!
2      Still Yelling. Still Fighting. Still Ready for...
3      Friends are the people who let you be yourself...
4      Just When His World Is Back To Normal... He's ...
...                                                  ...
45460                                                  0
45462                                                  0
45463                             A deadly game of wits.
45464                                                  0
45465                                                  0

                             title vote_average vote_count release_year  \
0                        Toy Story          7.7     5415.0         1995
1                          Jumanji          6.9     2413.0         1995
2                 Grumpier Old Men          6.5       92.0         1995
3                Waiting to Exhale          6.1       34.0         1995
4      Father of the Bride Part II          5.7      173.0         1995
...                            ...          ...        ...          ...
45460                   Robin Hood          5.7       26.0         1991
45462          Century of Birthing          9.0        3.0         2011
45463                     Betrayal          3.8        6.0         2003
45464             Satan Triumphant          0.0        0.0         1917
45465                     Queerama          0.0        0.0         2017

          return
0      12.451801
1       4.043035
2       0.000000
3       5.090760
4       0.000000
...          ...
45460   0.000000
45462   0.000000
45463   0.000000
45464   0.000000
45465   0.000000

[45379 rows x 30 columns]

In [30]:
## Que columnas quedaron
print(data_movies_filled.columns)

Index(['belongs_to_collection', 'id_collection', 'name_collection',
       'poster_path_collection', 'backdrop_path_collection', 'budget',
       'genres', 'id_genero', 'name_genero', 'id_genero_1', 'name_genero_1',
       'id_genero_2', 'name_genero_2', 'id', 'original_language', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'vote_average', 'vote_count', 'release_year',
       'return'],
      dtype='object')

In [31]:
## Cuantas columnas tenemos
data_movies_filled.shape[1]

30